@font-face {
  font-family: 'roboto';
  src: url('../font/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../font/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}
html {
    background: #FFF;
    font-family: 'roboto';
    font-weight: normal;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: relative;
}

.col-1, .row-1, .col-2, .row-2, .col-3, .row-3, .col-4, .row-4, .col-5, .row-5, .col-6, .row-6, .col-7, .row-7, .col-8, .row-8, .col-9, .row-9, .col-10, .row-10, .col-11, .row-11, .col-12, .row-12 {
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.row {
    float: none;
    clear: both;
    width: 100%;
    height: 100%;
    display: block;
}
.row-1 {
    float: none;
    clear: both;
    width: 100%;
    height: 8.3333%;
    display: block;
}
.row-2 {
    float: none;
    clear: both;
    width: 100%;
    height: 16.6666%;
    display: block;
}
.row-3 {
    float: none;
    clear: both;
    width: 100%;
    height: 25%;
    display: block;
}
.row-4 {
    float: none;
    clear: both;
    width: 100%;
    height: 33.3333%;
    display: block;
}
.row-5 {
    float: none;
    clear: both;
    width: 100%;
    height: 41.6666%;
    display: block;
}
.row-6 {
    float: none;
    clear: both;
    width: 100%;
    height: 50%;
    display: block;
}
.row-7 {
    float: none;
    clear: both;
    width: 100%;
    height: 58.3333%;
    display: block;
}
.row-8 {
    float: none;
    clear: both;
    width: 100%;
    height: 66.6666%;
    display: block;
}
.row-9 {
    float: none;
    clear: both;
    width: 100%;
    height: 75%;
    display: block;
}
.row-10 {
    float: none;
    clear: both;
    width: 100%;
    height: 83.3333%;
    display: block;
}
.row-11 {
    float: none;
    clear: both;
    width: 100%;
    height: 91.6666%;
    display: block;
}
.row-12 {
    float: none;
    clear: both;
    width: 100%;
    height: 100%;
    display: block;
}
.col-1 {
    width: 8.3333%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-2 {
    width: 16.6666%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-3 {
    width: 25%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-4 {
    width: 33.3333%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-5 {
    width: 41.6666%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-6 {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-7 {
    width: 58.3333%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-8 {
    width: 66.6666%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-9 {
    width: 75%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-10 {
    width: 83.3333%;
    height: 100%;
    float: left;
    display: inline-block;
}
.col-11 {
    width: 91.6666%;
    height: 100%;
    float: left;
    display: inline-block;
}

.margin-top-20 {
    margin-top: 5%;
}
.padding-10 {
    padding-top: 2rem;
    padding-bottom: 2rem;
 }

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.clock-block {
    width: 45%;
    height: 100%;
    float: left;
    display: inline-block;
}

.weather-block {
    padding-right: 1%;
    width: 54%;
    height: 100%;
    float: left;
    display: inline-block;
}

.battery {
    position: fixed;
    top: 1.5%;
    left: 1.5%;
}

.battery .battery-icon {
    width: 45px;
    float: left;
}

.battery .battery-percentage {
    font-size: 3rem;
    margin-left: 5px;
}

.home-icon {
    display: block;
}

.home-icon img {
    width: 70%;
    padding: 15%;
    float: none;
￼   clear: both;
}

#clock {
   padding-top: 10%;
}

#clock-minutes, #clock-hours {
    font-size: 40rem;
    line-height: 90%;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

#date {
    display: table;
}
#date .date-date {
    display: inline-block;
    vertical-align: middle;

    font-size: 9rem;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    width: 100%;
}
#date .date-dayofweek-year {
    display: inline-block;
    vertical-align: middle;

    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 25%;
    width: 100%;
    line-height: 0.9;
    text-align: left;
}

#date .date-small {
    font-size: 5rem;
}

.current-weather {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}
.current-weather-icon {
    display: inline-block;
    font-size: 15rem;
    vertical-align: middle;
}

.current-weather-temp {
    display: inline-block;
    margin-left: 2rem;
    font-size: 8rem;
    vertical-align: middle;
}

#graphs .guides {
    stroke: red;
}

#graphs .graphs-graph {
    display: table;
    width: 100%;
    height: 100%;
}

#graphs .graph-icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 7rem;
    text-align: center;
    float: none;
}

#graphs .graph-image {
    padding-right: 2%;
}

#graphs #graphs-temp {
    display: block;
}
#graphs embed {
    width: 100%;
}

#sunset {
    font-size: 6rem;
    position: relative;
    display: table;
    padding-left: 2%;
    padding-right: 2%;
}

#sunset .sunset-moon,
#sunset .sunset-sunrise,
#sunset .sunset-sunset,
#sunset .sunset-ozone {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#sunset .sunset-ozone .circle {
    background-color: black;
    display: inherit;
    width: 50%;
    height: 0;

    color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

#sunset span {
    margin-left: 3%;
}


.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    margin: 1rem;
}

.button {
    min-width: 3rem;
    width: auto;
    display: inline-block;
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
}

.dashboard-menu {
    width: 10%;
    height: 100%;
    float: left;
    font-size: 5rem;
    text-align: center;
}

.dashboard-separator {
    float: left;
    width: 80%;
    font-size: 3rem;
    margin-left: 1%;
}

.dashboard-tile {
    width: 11%;
    height: 12%;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 7rem;
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    float: left;
}

.dashboard-tile.active {
    background-color: black;
    color: white;
}

.dashboard-tile-title {
    font-size: 3rem;
    text-align: left;
}
