<!DOCTYPE html>
<html style="height:100%; margin:0; padding:0">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Kindle dashboard</title>

        <link rel="stylesheet" type="text/css" href="{{ static('css/weather-icons.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ static('css/dashboard.css') }}"/>

        <script type="text/javascript" src="{{ static('js/dashboard.js') }}" ></script>
        <script type="text/javascript">
            state = {
                "switch.0x00158d0003884393_switch": "on"
            }
            function message() {
               var xmlhttp = new XMLHttpRequest();
               xmlhttp.open("POST", "/hass/message");
               action = ""
               if (state["switch.0x00158d0003884393_switch"] === "off") {
                   action = "turn_on"
                   state["switch.0x00158d0003884393_switch"] = "on"
                   var element = document.getElementById("switch");
                   element.classList.add("active");
               } else {
                   action = "turn_off"
                   state["switch.0x00158d0003884393_switch"] = "off"
                   var element = document.getElementById("switch");
                   element.classList.remove("active");
               }
               xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
               xmlhttp.send(JSON.stringify({ "action": action, "entity_id": "switch.0x00158d0003884393_switch" }));
            }

        </script>
    </head>

    <body>
        <div class="dashboard-menu">
            <div class="row-2">
                <div class="dashboard-menu-button">
                    12:24
                </div>
            </div>
            <div class="row-8">
                <div class="dashboard-menu-button">
                        <a href="/" class="home-icon"><img src="{{ static('images/scenario.svg') }}" /></a>
                </div>
                <div class="dashboard-menu-button">
                        <a href="/" class="home-icon"><img src="{{ static('images/light.svg') }}" /></a>
                </div>
                <div class="dashboard-menu-button">
                        <a href="/" class="home-icon"><img src="{{ static('images/climate.svg') }}" /></a>
                </div>
                <div class="dashboard-menu-button">
                        <a href="/" class="home-icon"><img src="{{ static('images/energy.svg') }}" /></a>
                </div>
            </div>
            <div class="row-2">
                <div class="dashboard-menu-button">
                        <a href="/" class="home-icon"><img src="{{ static('images/clock.svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="dashboard-separator">
            LIVING ROOM
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Temp
            </div>
            <div class="dashboard-tile-content">
                22°C
            </div>
        </div>
        <div class="dashboard-tile" onclick="message()" id="switch">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-separator">
            BEDROOM 1
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Temp
            </div>
            <div class="dashboard-tile-content">
                22°C
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-separator">
            BEDROOM 2
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Temp
            </div>
            <div class="dashboard-tile-content">
                22°C
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-separator">
            KITCHEN
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Temp
            </div>
            <div class="dashboard-tile-content">
                22°C
            </div>
        </div>
        <div class="dashboard-tile active">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
        <div class="dashboard-tile">
            <div class="dashboard-tile-title">
                Main light
            </div>
            <div class="dashboard-tile-content">
                ON
            </div>
        </div>
    </body>
</html>
