<!DOCTYPE html>
<html style="height:100%; margin:0; padding:0">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Kindle dashboard</title>

        <link rel="stylesheet" type="text/css" href="{{ static('css/weather-icons.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ static('css/dashboard.css') }}"/>

        <script type="text/javascript" src="{{ static('js/dashboard.js') }}" ></script>
    </head>

    <body>
        <div class="row">
            <div class="col-7 graph-image"><img style="height: 100%" id="chart-clouds" src="{{ static('images/floorplan.svg') }}" /></div>
            <div class="col-2"><a style="font-size: 60pt" href="/">CLOCK</a><br /><a style="font-size: 60pt" href="/floorplan">PLAN</a></div>
        </div>
    </body>
</html>
