<!DOCTYPE html>
<html style="height:100%; margin:0; padding:0">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Kindle dashboard</title>

        <link rel="stylesheet" type="text/css" href="{{ static('css/weather-icons.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ static('css/dashboard.css') }}"/>

        <script type="text/javascript" src="{{ static('js/dashboard.js') }}" ></script>
    </head>

    <body style="{% if widthPx %}width: {{ widthPx }}px;{% endif %}{% if heightPx %}height: {{ heightPx}}px;{% else %}height: 100%;{% endif %}">
        <div class="battery">
            <img src="{{ static('images/battery.svg') }}" class="battery-icon" />
            <span id="battery-percentage" class='battery-percentage'>N/A</span>
        </div>

        <div class="row">
            <div class="clock-block">
                <div id="clock" class="row-10">
                    <div id="clock-hours">--</div>
                    <div id="clock-minutes">--</div>
                </div>
                <div id="date" class="row-2">
                    <div class="col-3">
                        <a href="/dashboard" class="home-icon"><img src="{{ static('images/home.svg') }}" /></a>
                    </div>
                    <div class="col-6">
                       <p class="date-date">
                           <span id="date-date">21.08.</span>
                    </div>
                    <div class="col-3">
                       <p class="date-dayofweek-year">
                           <span id="date-dayofweek" class="date-small">Wed.</span> <br />
                           <span id="date-year" class="date-small">2019</span></p>
                    </div>
                </div>
            </div>

            <div class="weather-block">
                <div class="row-3" style="display: table">
                    <div class="current-weather" onclick="kindleWakeupWithInternet();">
                        <div class="current-weather-icon"><i id="current-weather-icon" class="wi wi-day-cloudy"></i></div>
                        <div class="current-weather-temp"><span id="current-weather-temp">23</span>°C</span></div>
                    </div>
                </div>

                <div class="row-7" id="graphs">
                    <div class="row-4">
                        <div class="col-2">
                            <div class="graphs-graph">
                                <div class="graph-icon"><i class="wi wi-thermometer"></i></div>
                            </div>
                        </div>
                        <div id="graphs-temp" class="col-10 graph-image"><img id="chart-temp" src="{{ static('favicon.ico') }}" /></div>
                    </div>
                    <div class="row-4">
                        <div class="col-2">
                            <div class="graphs-graph">
                                <div class="graph-icon"><i class="wi wi-cloudy"></i></div>
                            </div>
                        </div>
                        <div id="graphs-clouds" class="col-10 graph-image"><img id="chart-clouds" src="{{ static('favicon.ico') }}" /></div>
                    </div>
                    <div class="row-4">
                        <div class="col-2">
                            <div class="graphs-graph">
                                <div class="graph-icon"><i class="wi wi-umbrella"></i></div>
                            </div>
                        </div>
                        <div id="graphs-percipitation" class="col-10 graph-image"><img id="chart-percip" src="{{ static('favicon.ico') }}" /></div>
                    </div>
                </div>

                <div class="row-2" id="sunset">
                    <span class="sunset-moon"><i id="moon-phase" class="wi wi-moon-alt-waxing-gibbous-2"></i></span>
                    <span class="sunset-sunrise"><i class="wi wi-sunrise"></i><span id="sunrise-time">-:--</span></span>
                    <span class="sunset-sunset"><i class="wi wi-sunset"></i><span id="sunset-time">-:--</span></span>
                    <span class="sunset-ozone"><span class="circle"><span id="ozone-index">-</span></span></span>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var siteData = {
                "serverTimestamp": {{ serverTimestamp }},
                "currentTemp": {{ currentTemp }},
                "currentWeatherIcon": "{{ currentWeatherIcon }}",
                "currentWeatherIconId": {{ currentWeatherIconId }},
                "sunriseTimestamp": {{ sunriseTimestamp }},
                "sunsetTimestamp": {{ sunsetTimestamp }},
                "uvIndex": {{ uvIndex }},
                "chartTempSrc": "{{ chartTempSrc }}",
                "chartCloudsSrc": "{{ chartCloudsSrc }}",
                "chartPercipSrc": "{{ chartPercipSrc }}"
            };
        </script>

    </body>
</html>
